* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-color: #343a40;
  --font-color-light: #93989e;
  --font-color-semi-light: #6c757d;
  --primary-color: #364fc7;
  --secondary-color: #3b5bdb;
  --tertiary-color: #f0ebe3;
  --quaternary-color: #f1f3f5;
  --quinary-color: #5c7cfa;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: var(--font-color);
  border-top: 10px solid var(--primary-color);
  border-bottom: 10px solid var(--primary-color);
}

h1 {
  font-size: 44px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
  line-height: 1.1;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
}

.container {
  width: 1200px;
  margin: 20px auto;
}

.main-header {
  margin-bottom: 128px;
}

.title-bar {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 10px;
  margin-bottom: 16px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 413px;
  column-gap: 20px;

  margin-bottom: 64px;
  padding: 20px;

  background-color: var(--secondary-color);
  box-shadow: 0px 10px 20px rgba(0, 16, 29, 0.761);
  color: #f1f3f5;
  border-radius: 12px;
}

.about img {
  border-radius: 12px;
}

.location-icon {
  width: 24px;
  height: 24px;
  stroke: var(--font-color);
}

.title-icons {
  width: 44px;
  height: 44px;
  stroke: #3b5bdb;
}

.info-bar {
  display: grid;
  grid-template-columns: 1fr 247px;
  align-items: center;
  justify-items: start;

  background-color: var(--tertiary-color);
  width: 739px;
  /* padding: 20px; */
  border-radius: 12px;
  margin-bottom: 224px;
}

.info-bar img {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.info-items {
  padding: 20px;
}

.info-item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.info-item p {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--font-color-semi-light);
}

.info-item a:link,
.info-item a:visited {
  color: var(--font-color-semi-light);
  text-decoration: none;
  cursor: pointer;
}

.info-item a:hover {
  color: var(--font-color);
  text-decoration: underline;
}

.exp-skills {
  display: grid;
  grid-template-columns: 1fr 413px;
  justify-items: start;
  column-gap: 48px;
  row-gap: 16px;
  margin-bottom: 128px;
}

.skills-subtitle {
  color: var(--secondary-color);
  /* justify-self: center; */
}

.experience {
  grid-row: 2 / span 4;
}
.exp-subtitle {
  color: var(--secondary-color);
}

.title-bar {
  color: var(--secondary-color);
}

.skills {
  justify-self: center;
  align-self: start;
  width: 413px;
  padding: 40px;
  background-color: var(--quinary-color);
  color: #f1f3f5;
  border-radius: 12px;
  margin-bottom: 80px;
}

.skills ul {
  list-style-type: none;
}

.experience-box {
  display: flex;
  gap: 20px;
  padding: 20px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
  margin-bottom: 40px;
  font-size: 16px;
  border-radius: 12px;
}

.experience-box-info {
  flex: 2;
}

.experience-box-info li {
  margin-left: 20px;
  list-style-type: square;
}

.experience-box-info h4 {
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--font-color-semi-light);
  margin-bottom: 24px;
}

.experience-box-info h3 {
  letter-spacing: -1px;
  line-height: 1;
  font-weight: 600;
}

.experience-box-dates {
  text-align: right;
  font-size: 16px;
  color: var(--font-color-light);
  flex: 1;
}

.experience-box-dates-icon {
  width: 16px;
  height: 16px;
}

.hobbies {
  grid-column: 2;
}

footer {
  font-size: 16px;
  text-align: center;
  font-size: 14px;
  color: var(--font-color-light);
}
